.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 2rem;
  /* max-width: 1000px; */
  margin: 0 auto;
  position: relative;
  padding-right: 5rem;
}

.road {
  position: absolute;
  top: 5%;
  left: 0;
  /* transform: translateY(-50%); */

  width: 100%;
  height: 60%;
  z-index: -10;
}

.roadmapCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cardTitle {
  padding: 1rem 1rem;
  border: 2px solid var(--orange);
  border-radius: 3px;
  width: fit-content;
  background-color: black;
}

@media (max-width: 1000px) {
  .road {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    padding-right: 0rem;
  }

  .roadmapCard {
    padding-bottom: 4rem;
  }

  .roadmapCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 100%;
    background-color: #f7d48133;
    z-index: -10;
  }

  .roadmapCard:last-child::before {
    display: none;
  }

  .roadmapCard:last-child {
    padding-bottom: 0;
  }
}
